*{
  box-sizing: border-box;
}

html{
  font-family:comic sans MS,century gothic;
  background-color:LightGray;
}

body{
  margin: 0px 0px 0px 0px;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 500px 80px;
}

h1{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 4em;
  margin-top: 40px;
}

#presentation{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-size: 2em;
  width: 80%;
  margin: auto;
}

.formulaire{
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

.bouton{
  font-size: 1.1em;
  text-align: center;
  height: 30px;
  width: 110px;
  border-radius: 5px;
}

.bouton:hover,
.bouton:focus{
  background-color: whitesmoke;
  box-shadow: 0 1px 0 gray,
                0 0 1px 1px gray inset,
                0 1px gray inset,
                0 0 5px gray;
  border-color: Gray;
}

#tour{
  grid-column: 3;
  grid-row: 1 / 4;
  height: 100%
}

#map{
  grid-row: 1 / 4;
  grid-column: 1;
  height:100%
}
