*{
  box-sizing: border-box;
}

html{
  font-family:comic sans MS,century gothic;
  background-color:#52280E;
}

body{
  weight: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20px auto 1fr auto 20px;
  grid-template-rows: auto 150px 200px 150px 50px;
}

h1{
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  font-size: 4em
}

#presentation{
  grid-column: 3;
  grid-row: 2 / 4;
  text-align: center;
  font-size: 2em
}

#boussole{
  grid-column: 2;
  grid-row: 2 / 4;
  height: 350px;
  weight: 350px;
}

#cle{
  grid-column: 4;
  grid-row: 3 / 5;
  height: 350px;
  weight: 350px;
}

.formulaire{
  grid-column: 3;
  grid-row: 4 / 6;
  text-align: center;
}
